* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






/* Estilo base para el contenedor principal */


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: lightblue;
    height: 100vh;
    position: relative;

}

/* Contenedor principal */
.container {
   position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: antiquewhite;
    width: 40vw;
    max-width: 300px;
    height: 70%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}

.container p{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    overflow: auto;
}



/* Título */
h1 {
    font-size: 2vw; /* Tamaño de fuente relativo */
    margin-bottom: 1rem;
    margin-left: 1rem;
}

/* Párrafos */
.parrafo {
    font-size: 1vw; /* Tamaño de fuente relativo */
    margin-bottom: 1rem;
    margin-left: 1rem;
}

p {
    font-size: 3vw;
    
}

/* Lista */
ul {
    padding-left: 1.5rem;
    margin-left: 1rem;
}

li {
    font-size: 1vw; /* Tamaño de fuente relativo */
    margin-bottom: 0.5rem;
}



@media (min-width: 0px){
body{
    background-color: gray;}

.container{
    background-color: darkslategrey;
    color: white;
    width: 80vw;
    margin-left: 10%;
    height: 70vh;
    display: block;
    position: relative;}
.ImagenAleatoria{
    width: 50vw;
    height: 50vw;
    object-fit: contain;
    margin: 0 auto;
    
   
}
.boton{
    margin: 100px auto;
    display: block;
    padding: 5px 5px;
    background-color: white;
    border-radius: 5px ;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    position: static;
    
}

.container p{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta el párrafo para que su centro coincida con el centro del contenedor */
    margin: 0;
    font-size: 0.8rem;
    width: 80%;
    height: 50%;
    max-width: 200px;
    max-height: 200px;
    text-align: center;
    line-height: 1.5;
    overflow: auto;
}
    h1{
        font-size: 5vw;
        margin-left: 10%;
        margin-top: 10%;
        
        text-align: center;
    }
    .parrafo{
        font-size: 4vw;
        margin-left: 10%;
        margin-bottom: 10%;
        margin-top: 10%;
        
    }
    ul{
        font-size: 0.8rem;
        margin-left: 10%;
        margin-bottom: 10%;
        list-style: none;
        padding: 0;
        
        
    }
    li{
        font-size: 4vw;
        margin-left: 10%;
        margin-bottom: 10%;
        
    }
    a{
        text-decoration: none;
        color: black;
    }
}



@media (min-width: 361px){ 
    body{
        background-color: palevioletred;
    }

    .container p{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta el párrafo para que su centro coincida con el centro del contenedor */
    margin: 0;
    font-size: 0.8rem;
    width: 80%;
    height: 50%;
    max-width: 200px;
    max-height: 200px;
    text-align: center;
    line-height: 1.5;
    overflow: auto;
}
    
    .container{
    background-color: darkslategrey;
    color: white;
    width: 80%;
    margin-left: 10%;
    height: 70vh;
    max-width: 80%;
    display: block;
    position: relative;}

    .ImagenAleatoria{
    width: 50vw;
    height: 50vw;
    object-fit: contain;
    margin: 0 auto;}

    
    h1{
        font-size: 5vw;
        margin-left: 10%;
        margin-top: 10%;
        
        text-align: center;
    }
    .parrafo{
        font-size: 2.5vw;
        margin-left: 10%;
        margin-bottom: 10%;
        margin-top: 10%;
        
    }
    ul{
        font-size: 0.8rem;
        margin-left: 10%;
        margin-bottom: 10%;
        list-style: none;
        padding: 0;
        
        
    }
    li{
        font-size: 2.5vw;
        margin-left: 10%;
        margin-bottom: 10%;
        display: inline-block;
        
    }
    a{
        text-decoration: none;
        color: black;
    }
} 


@media(min-width: 992px){
    body{
        background-color: lightcoral;
    }
    .container{
        background-color: lightgoldenrodyellow;
        color: red;
        width: 30vw;
        max-width: 300px;
        height: 60vw;
        max-height: 750px;
    }
    .container p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Ajusta el párrafo para que su centro coincida con el centro del contenedor */
        margin: 0;
    }
}

@media (min-width: 1200px){
    .container{
        background-color: beige;
        color: black;
        width: 20vw;
        max-width: 300px;
        height: 50vw;
        max-height: 750px;
        
    }
    .container p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Ajusta el párrafo para que su centro coincida con el centro del contenedor */
        margin: 0;
    }
    body{
        background-color: orangered;
        
    }
}

